{% extends 'df_user/base_user_center.html' %}

{% block site %}
密码修改
{% endblock %}

{% block content %}
	<div class="help-r fr">
		<div class="help-item-title">个人信息</div>
		<div class="help-main">
			<form action="" method="post">
				{% csrf_token %}
				<p><span class="nice">原始密码：</span><input type="password" value="" name="old_password"></p>
				<p><span class="nice">新密码：</span><input type="password" value="" name="new_password"></p>
				<p><span class="nice">确认新密码：</span><input type="password" value="" name="new_password_1"></p>
				<input class="save" type="submit" value="确认修改"/>
				{{info}}
			</form>
		</div>
	</div>
{% endblock %}